*.log
*.backindent
*.aux
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.txt
*.synctex
*.synctex.gz
*.pygtex
*.pgf-plot.gnuplot
*.dat
*.script
*.toc
*.ptc
*.fmt
*.bat
*.xdv
*.tkzfonct.gnuplot
*.tkzfonct.table
*.md5